// base-framework.scss

body.base-framework {

  #layout {
    min-height: 100%;
  }

  header {
    background-color: black;
    color: white;
    nav#main-nav {
      h1 {
        padding: 10px;
        color: white;
      }
      li {
        padding: 10px;
        box-sizing: border-box;
      }
    }
  }

  #main {
    .demo-content {
      .entry {
        background-color: #eee;
        margin: 5px;
        padding: 15px;
        img {
          max-width: 100%;
        }
      }
    }
  }

}
