// pure-framework.scss

body.pure-framework {

  #layout {
    min-height: 100%;
  }

  header {
    background-color: black;
    color: white;
    nav#main-nav {
      h1 {
        padding: 10px;
      }
      li {
        padding: 10px;
        box-sizing: border-box;
      }
    }
  }

  #main {
    box-sizing: border-box;
    padding: 15px;
    .demo-content {
      display: flex;
      .entry {
        margin: 5px;
        padding: 15px;
        box-sizing: border-box;
        background-color: #eee;
      }
    }
  }

}