// pure-framework.scss

body.string-bean-framework {

  #layout {
    min-height: 100%;
  }

  header {
    background-color: black;
    color: white;
    nav#main-nav {
      h1 {
        padding: 10px;
      }
      li {
        display: inline-block !important;
        text-align: left;
      }
    }
  }

  #main {
    .demo-content {
      .entry {
        position: relative;
        margin: 5px;
        padding: 15px;
        box-sizing: border-box;
        img {
          max-width: 100%;
        }
      }
    }
  }

}

@media screen and (min-width: 600px) {
  body.string-bean-framework header {
    min-height: calc(100vh - 0.5rem);
  }
}